<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title> Restaurant Detail Page for {{ name }} </title>
<link href="https://fonts.googleapis.com/css?family=Pavanam|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/color.css') }}">
</head>

<body>
<div id="container">

<!-- title, author and year come from winners.py -->

<h1>{{ name }}</h1>

<p>Address: {{ address }}</p>

<p>Zip Code: {{ zip }}</p>

<p>Date: {{ date }}</p>
    
<p>Result: {{ result }}</p>
    
<!-- note the correct way to make an href in Flask!
     for a relative link to route - 
     def awards():
     -->

<p><a href="{{ url_for('restaurants') }}">Return to list</a></p>


</div> <!-- close container -->

</body>
</html>
