<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title> Awards List </title>
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
<div id="container">

<h1>Gainesville Health Inspections</h1>

<p>This is a list of Gainesville health inspection reports.</p>

<!--  render a list of elements with a for-loop
      title comes from winners.py
      Note style for route, def book(title):
      (it is tricky! Quotes around 'book' - no quotes for title -
      second title means the one that was passed in - so really this
      is arg = variable )
      If the title had no spaces, we would not need |replace(" ", "_")
      but we must handle the spaces, or Apache server chokes
    -->

<ul>
{% for pair in pairs %}

        <li><a href="{{ url_for('restaurant', id=pair[0]) }}">{{ pair[1] }}</a></li>


{% endfor %}
</ul>


</div> <!-- close container -->

</body>
</html>
